{% extends 'vnidxBase/master_page.html' %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-lg-12">
        <center>
          <h1>Phân tích mã cổ phiếu nghành Ngân Hàng - VNindex</h1>
        </center>
        <hr class="type_1">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-lg-12">
        <center>
          <form action="{% url 'bank' %}" >
            <table>
              <tr>
                <td><label for="cpn_code">Mã công ty:</label></td>
                <td><input type="text" name="cpn_code" id="cpn_code" value="{{cpn_code}}" ></td>
              </tr>
              <tr>
                <td></td>
                <td>Nhập mã cổ phiếu của công ty thuộc nghành <a class="a-btn" href="https://trade.vndirect.com.vn/chung-khoan/co-phieu-nganh" type="_blank">Ngân Hàng</a> (VCB, TCB...)</td>
              </tr>
              <tr>
                <td></td>
                <td>
                    <p>Có thể nhập nhiều mã, các mã phân tách nhau bằng dấu phẩy.</p>
                    <p>VD: VCB, TCB</p>
                </td>
              </tr>
              <tr>
                <td>
                  <label for="lai_suat">Lãi suất trái phiếu</label>
                </td>
                <td>
                  <input type="text" name="lai_suat" id="lai_suat" value="{{lai_suat}}">
                </td>
              </tr>
              <tr>
                <td></td>
                <td><button type="submit">Analysis</button></td>
              </tr>
            </table>
          </form>
        </center>
      </div>
    </div>
    <br>
    <div class="row over-ct">
      <div class="col-md-12 col-sm-12 col-lg-12">
        <center>
          <h3>Kết quả phân tích</h3>
          <table class="table" border="1">
              {% for e in data %}
                <tr class="{% if forloop.counter == 1 %}title-table{% endif %}">
                  {% if forloop.counter == 1 %}
                    {% for i in e %}
                      {% if "công ty" not in i %}
                        <td class="ct-center">
                            <a class="a-btn" href="https://s.cafef.vn/upcom/{{i}}-.chn">{{i}}</a>
                        </td>
                      {% else %}
                        <td class="ct-center">{{i}}</td>
                      {% endif %}
                    {% endfor %}
                  {% else %}
                    {% for i in e %}
                      <td class="ct-center {% if 'xem xét' in i %}alert-danger{% elif 'Có thể ' in i %}alert-success{%endif%}">{{i}}</td>
                    {% endfor %}
                  {% endif %}
                </tr>
              {% endfor %}
            </table>
        </center>
      </div>
    </div>
  </div>
{% endblock %}