{% extends 'vnidxBase/master_page.html' %}

{% block content %}
  <div class="container">
    <div class="row ct-center">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <h2>Company Stock Scanning - VNIndex</h2>
        <hr class="type-1">
      </div>
    </div>
    <div class="row">
      <p>Chọn nghành bạn muốn phân tích:</p>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
          <a href="{% url 'bank' %}" id="btn" class="fa fa-bank"> Bank</a>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
          <a href="{% url 'footanddrink' %}" id="btn" class="fa fa-cutlery"> Foot and Drink</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
